<!DOCTYPE html>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "jquery.jplayer.min" %>
	<%= javascript_include_tag "jplayer.playlist.min" %>
	<%= stylesheet_link_tag 'jplayer.blue.monday.css' %>
	
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv-printshiv' %>
  <![endif]-->
  <%= respond_include_tags %>
<body>
<div>
	<div id="narrative" align="center">
		<div class="page-header"><h1><small>Narrative name: <%= @narrative.nar_name %></small></h1></div>
		<div data-id="media_element">
				<div id="jp_container_1" class="jp-video jp-video-270p">
				<div class="jp-type-playlist">
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div class="jp-gui">
						<div class="jp-video-play">
							<a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
						</div>
						<div class="jp-interface">
							<div class="jp-progress">
								<div class="jp-seek-bar" align="left">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-current-time"></div>
							<div class="jp-duration"></div>
							<div class="jp-controls-holder">
								<ul class="jp-controls">
									<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
									<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
									<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
									<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
									<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
									<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
									<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
									<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
								</ul>
								<div class="jp-volume-bar" align="left">
									<div class="jp-volume-bar-value"></div>
								</div>
								<ul class="jp-toggles">
									<li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
									<li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
									<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
									<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
									<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
									<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
								</ul>
							</div>
							<div class="jp-title">
								<ul>
									<li></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="jp-playlist" style="display:none;">
						<ul>
							<!-- The method Playlist.displayPlaylist() uses this unordered list -->
							<li></li>
						</ul>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
		</div>
		</br>
		<div class="btn-group" id="single-view-tooltip">
		  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Nombre de désaccord / Number of Disagrees"><span class="glyphicon glyphicon-thumbs-up">&nbsp<%= @narrative.num_of_disagree %></span></button>
		  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Nombre de d'accord / Number of Agrees" ><span class="glyphicon glyphicon-thumbs-down">&nbsp<%= @narrative.num_of_agree %></span></button>
		  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Signaler un recit innaproprier / Flag an inappropriate narrative" >&nbsp<span class="glyphicon glyphicon-flag"></span></button>
		  <button type="button" class="btn btn-default" disabled="disabled"><span class="glyphicon glyphicon-eye-open">&nbsp<%= @narrative.num_of_view %></span></button>
		</div>
	</div>
	<div class="col-lg-6" id="narrative">
			<div class="form-inline">
				<%= form_tag(comment_add_path(@narrative.id), method: "post") do %>
				<div class="input-group">
					<%= text_field_tag(:comment, nil, class: "form-control") %>
					<span class="input-group-btn">
						<%= button_tag(type: "submit", class: "btn btn-default") do %>
							<span class="glyphicon glyphicon-comment"></span>
						<% end %>
					</span>
					</div>
				<% end %>
		</div>
	</div>
	<div class="panel panel-default">
		  <div class="panel-heading"><font size="4">Comments</font></div>
		  <div class="panel-body">
		    <table>
			  <tbody>
				  <tr>
					<td>
						<div data-id="comments">
							<% if @comments.each do |comment| %>
								<p style="margin:0;">
								<%= comment.content%></p> 
								<p style="padding-left:1em;margin:0;">
								<font size="1">at <%= comment.created_at%></font>
								</p>
							<% end.empty? %>
	  							Be the first to comment!
							<% end %>							
						</div>								
					</td>				
				  </tr>
			  </tbody>
			</table>
		  </div>
	</div>	
	<div>
		<span><b>Crée/Created:</b> <%= @narrative.create_time %></span>
	</div>	
</div>

<script type="text/javascript">
//<![CDATA[

var playlistDetails = <%= @audio_json %>

$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	},	 playlistDetails,	
		{
		playlistOptions: {
		    autoPlay: false
		},
		swfPath: "js",
		//solution: "flash, html",
		solution: "html",
		supplied: "webmv, ogv, m4v, oga, mp3",
		smoothPlayBar: false,
		keyEnabled: true,
		audioFullScreen: true
	});

	jQuery('.btn').tooltip(); 
});
//]]>
</script>


