
    <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">VousDélibérez! <span class="glyphicon glyphicon-flash"></span> YouDeliberate!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="list-spacer">&nbsp;</li>
            <li><a class="fancybox" href="<%= admin_list_path %>">Récits <span class="glyphicon glyphicon-flash"></span> Narratives</a></li>
            <li><a class="fancybox" href="<%= admin_setting_path %>">paramètres <span class="glyphicon glyphicon-flash"></span> Settings</a></li>
            <li class="list-spacer">&nbsp;</li>
            <li class="list-spacer" align="right"><%= link_to "Déconnexion/Logout", signout_path, method: "delete" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    

	<!-- content container -->
    <div class="container">

      <!-- page headline -->
      <div class="header-section"><br/></div>

      <!-- Upload narrative section -->
      <div class="col-lg-12">
      	<div class="panel panel-primary">
          <div class="panel-heading"><h4>Réglage&nbsp;&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;Settings</h4></div>
          <div>
            <p class="title">Change my password:</p>
			<%= form_tag(change_password_path, method: "post") do %>
				<p class="form-label"><strong>New Password: </strong><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    <%= password_field_tag(:password, nil, placeholder: 'New password') %>
			    </p>
			    <p class="form-label"><strong>Confirm Password: </strong>
			    <%= password_field_tag(:password_confirmation, nil, placeholder: 'New password again') %>
			    </p>
			    <div class="with-left-margin with-bottom-margin">
			            <%= submit_tag("Change", class: "btn btn-large btn-primary") %>
			    </div>
			<% end %>
		  </div>
		  <div class="divider"></div>
		  <div>
            <p class="title">Add new administrator:</p>
			<%= form_tag(add_admin_path, method: "post") do %>
				<p class="form-label"><strong>Email adress: </strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    <%= email_field_tag(:email, nil, placeholder: 'Email') %>
			    </p>
				<p class="form-label"><strong>Password: </strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			    <%= password_field_tag(:password, nil, placeholder: 'Password') %>
			    </p>
			    <p class="form-label"><strong>Confirm Password: </strong>
			    <%= password_field_tag(:password_confirmation, nil, placeholder: 'Password again') %>
			    </p>
			    <div class="with-left-margin with-bottom-margin">
			            <%= submit_tag("Add", class: "btn btn-large btn-primary") %>
			    </div>
			<% end %>
		  </div>
		  <div class="divider"></div>
		  <div>
            <p class="with-left-margin title">Google Analytics</p>
            <a class="with-left-margin with-bottom-margin btn btn-large btn-primary" href="http://www.google.ca/analytics/" target="_blank">Metrics</a>
		  </div>
      	</div>
      </div><!-- End upload narrative section -->
    </div>