<% content_for(:head) do %>
  <!--[if lte IE 8]><%= javascript_include_tag "r2d3" %><![endif]-->
  <!--[if gte IE 9]><!-->

  <%= javascript_include_tag "d3.v3.min" %>
  <!--<![endif]-->
  <%= javascript_include_tag "functions" %>
  <%= javascript_include_tag "bubbles" %>
  <%= javascript_include_tag "sunburst" %>
  <%= stylesheet_link_tag "jquery.fancybox" %>
  <%= javascript_include_tag "jquery.fancybox.pack" %>

<% end %>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">VousDélibérez! <span class="glyphicon glyphicon-flash"></span> YouDeliberate!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="list-spacer">&nbsp;</li>
            <li><a class="fancybox" data-fancybox-type="iframe" href="about">Au Sujet <span class="glyphicon glyphicon-flash"></span> About</a></li>
            <li><a class="fancybox" data-fancybox-type="iframe" href="contact">Nous Rejoindre <span class="glyphicon glyphicon-flash"></span> Contact Us</a></li>
            <!-- Language Dropdown Menu
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Site options</li>
                <li><a href="#">English version</a></li>
                <li><a href="#">Version française </a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Narrative options</li>
                <li><a href="#">Show only English narratives</a></li>
                <li><a href="#">Show only French narratives</a></li>
                <li><a href="#">Show French and English narratives</a></li>
              </ul>
            </li>
            end of language dropdown menu -->
            <li class="list-spacer">&nbsp;</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content container -->
    <div class="container">

      <!-- page headline -->
      <div class="header-section"></div> 

      <!-- Left Column: Sunburst and Sort -->
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Filtrer les récits!&nbsp;&nbsp;<span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filter narratives!</h4></div>
          <div class="panel-body">
            <div id="sunburst"></div>
          </div>
          <div class="panel-footer">
            <div id="sort-buttons" class="btn-group">
              <button type="button" class="btn btn-default btn-lg sort-select" disabled="disabled">Sort By:</button>
              <button type="button" class="btn btn-primary btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-views"><span class="glyphicon glyphicon-eye-open"></span></button>
              <button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-time"><span class="glyphicon glyphicon-time"></span></button>
              <button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-agrees"><span class="glyphicon glyphicon-thumbs-up"></span></button>
              <button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-comments"><span class="glyphicon glyphicon-comment"></span></button>
            </div>
          </div>
        </div>    
      </div> <!-- End Left Column -->

      <!-- Right Column: Bubbles and Language Selection -->
      <div class="col-lg-8">
        <div class="panel panel-primary">
          <div class="panel-heading" id="narratives-panel"><h4>Cliquez sur une bulle pour entendre un récit!&nbsp;&nbsp;<span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Click on a bubble to hear a narrative!</h4></div>
          <div class="panel-body">
            <div id="bubbles"></div>
          </div>
          <div class="panel-footer">
            <div id="language-buttons" class="btn-group">
              <button type="button" class="btn btn-default btn-lg lang-select" id="language-select-label" disabled="disabled">Language:</button>
              <button type="button" class="btn btn-default btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-french"><%= image_tag("FR-32.png", id:"gb-flag") %></button>
              <button type="button" class="btn btn-default btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-english"><%= image_tag("EN-32.png", id:"gb-flag") %></button>
              <button type="button" class="btn btn-primary btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-bilingual"><%= image_tag("FR-EN-32.png", id:"frgb-flag") %></button>
            </div>
          </div> 
        </div>
      </div> <!-- End Right Column -->

    </div><!-- End content container -->