    <!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">VousDélibérez! <span class="glyphicon glyphicon-flash"></span> YouDeliberate!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="list-spacer">&nbsp;</li>

            <li>
              <%= link_to about_path, :class => 'fancybox', :'data-fancybox-type' => 'iframe' do %>
                À Propos <span class="glyphicon glyphicon-flash"></span> About
              <% end %>
            </li>

            <li>
              <%= link_to contact_path, :class => 'fancybox', :'data-fancybox-type' => 'iframe' do %>
                Nous Rejoindre <span class="glyphicon glyphicon-flash"></span> Contact Us
              <% end %>
            </li>

            <li>
              <%= link_to tutorial_path, :class => 'fancybox', :'data-fancybox-type' => 'iframe',
              :'data-toggle' => 'tooltip', :'data-placement' => 'right', :title => 'Regarder tutoriel / Watch tutorial' do %>
                <span class="glyphicon glyphicon-info-sign"></span>
              <% end %>
            </li>

            <!-- Language Dropdown Menu
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Site options</li>
                <li><a href="#">English version</a></li>
                <li><a href="#">Version française </a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Narrative options</li>
                <li><a href="#">Show only English narratives</a></li>
                <li><a href="#">Show only French narratives</a></li>
                <li><a href="#">Show French and English narratives</a></li>
              </ul>
            </li>
            end of language dropdown menu -->
            <li class="list-spacer">&nbsp;</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content container -->
    <div class="container" id="content-container">

      <!-- page headline -->
      <div class="header-section"></div>

      <!-- Left Column: Sunburst and Sort -->
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Filtrer les récits!&nbsp;&nbsp;<span class="glyphicon glyphicon-filter"></span>&nbsp;&nbsp;Filter narratives!</h4></div>
          <div class="panel-body">
            <div id="sunburst"></div>
          </div>
          <div class="panel-footer">
			<table>
				<tr>
					<td class='label-filter'>
						<span><font size="3.75">Trier&nbsp;</font><span class="glyphicon glyphicon-sort"></span><font size="3.75">&nbsp;Sort:</font><span>
					</td>
					<td class='button'>
						<div class="btn-group btn-group-justified" id="tooltip-sort">
						  <div class="btn-group"><button type="button" class="btn btn-primary btn-lg sort-select " onclick="sortClassToggle(this)" id="sort-by-views" data-toggle="tooltip" data-placement="top" title="plus de visites/ most views"><span class="glyphicon glyphicon-eye-open"></span></button></div>
						  <div class="btn-group"><button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-time"  data-toggle="tooltip" data-placement="top" title="plus recent / most recent"><span class="glyphicon glyphicon-time"></span></button></div>
						  <div class="btn-group"><button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-agrees"  data-toggle="tooltip" data-placement="top" title="plus d'accord / most agrees"><span class="glyphicon glyphicon-thumbs-up"></span></button></div>
						  <div class="btn-group"><button type="button" class="btn btn-default btn-lg sort-select" onclick="sortClassToggle(this)" id="sort-by-comments"  data-toggle="tooltip" data-placement="top" title="Plus de commentaire / most comments"><span class="glyphicon glyphicon-comment"></span></button></div>
						</div>
					</td>
				</tr>
				<tr>
					<td class='label-filter'>
						<span id="label-filter"><font size="3.75">Language:</font><span>
					</td>
					<td class='button'>
						<div class="btn-group btn-group-justified" id="tooltip-filter">
						  <div class="btn-group"><button type="button" class="btn btn-default btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-french"  data-toggle="tooltip" data-placement="top" title="Francais / French"><%= image_tag("FR-24.png", id:"gb-flag") %></button></div>
						  <div class="btn-group"><button type="button" class="btn btn-default btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-english"  data-toggle="tooltip" data-placement="top" title="Anglais / English"><%= image_tag("EN-24.png", id:"gb-flag") %></button></div>
						  <div class="btn-group"><button type="button" class="btn btn-primary btn-lg lang-select" onclick="filterLanguageToggle(this)" id="filter-bilingual"  data-toggle="tooltip" data-placement="top" title="Francais & Anglais / French & English"><%= image_tag("FR-EN-24.png", id:"frgb-flag") %></button></div>
						</div>	
					</td>
				</tr>
			</table>
			</div>
        </div>
		<div class="panel panel-primary">
			<div class="panel-heading"><span><h4>Légende&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;Legend<span></h4></div>	
			<div class="panel-body">
				<table>
					<tr>
						<td>
							<span class="label label-against">&nbsp;&nbsp;</span>
						</td>
						<td>&nbsp;Contre&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;Against </td>
					</tr>
					<tr>
						<td>
							<span class="label label-for">&nbsp;&nbsp;</span>
						</td>
						<td>&nbsp;Pour&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;For</td>
					</tr>
					<tr>
						<td>
							<span class="label label-ambivalent">&nbsp;&nbsp;</span>
						</td>
						<td>&nbsp;Ambivalent(e)&nbsp;<span class="glyphicon glyphicon-flash"></span>&nbsp;Ambivalent</td>
					</tr>
				</table>
			</div>						
		</div>
      </div> <!-- End Left Column -->

      <!-- Right Column: Bubbles and Language Selection -->
      <div class="col-lg-8">
        <div class="panel panel-primary">
          <div class="panel-heading" id="narratives-panel"><h4>Cliquez sur une bulle pour entendre un récit!&nbsp;&nbsp;<span class="glyphicon glyphicon-headphones"></span>&nbsp;&nbsp;Click on a bubble to hear a narrative!</h4></div>
          <div class="panel-body" id="bubble-inner-panel">
            <div id="bubbles"></div>
          </div>
        </div>
      </div> <!-- End Right Column -->

    </div><!-- End content container -->
	<% content_for(:head) do %>
  <!--[if lte IE 8]><%= javascript_include_tag "r2d3" %><![endif]-->
  <!--[if gte IE 9]><!-->
  <!--Put javascript load at end doc to let browser render dom first-->

  <%= javascript_include_tag "d3.v3.min" %>
  <!--<![endif]-->
  <%= javascript_include_tag "functions" %>
  <%= javascript_include_tag "bubbles" %>
  <%= javascript_include_tag "sunburst" %>
<% end %>

<script type="text/javascript">
	jQuery(document).ready(function() {
	   jQuery('#tooltip-sort .btn').tooltip();
	   jQuery('#tooltip-filter .btn').tooltip({container:'body'});
	   jQuery('.fancybox').tooltip({container:'body'});
<% if params[:id] %>
		window.playNarrative(<%= params[:id] %>);
<% end %>
	});
</script>
