<h1>Admin#index</h1>
<p><%= @upload_message %></p>
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'narrative'  , accept: 'application/zip'%>
  <%= hidden_field_tag 'upload_path' %>
  <%= submit_tag("Upload") %>
<% end %>